{% extends "base.html" %}

{% block title %}Sprint - Dashboard{% endblock %}

{% block content %}
	{% for project in projects %}
		<p><a href="/project?id={{ project.key }}">{{ project.title }}</a></p>
	{% endfor %}
	<form action="/project/new" method="post">
		<dl>
			<dt>Title</dt> 
			<dd><input type="text" name="title"></dd>
		</dl>
		<div>
			<input type="submit" value="Create a New Project">
		</div>
	</form>
	{% for backlog in backlogs %}
		<p><a href="/backlog?id={{ backlog.key }}">{{ backlog.title }}</a> : {{ backlog.owner.first_name }} {{ backlog.owner.last_name }}</p>
	{% endfor %}
	<form action="/backlog/new" method="post" accept-charset="utf-8">
		<dl>
			<dt>Title</dt>
			<dd><input type="text" name="title" value=""></dd>
			<dt>Owner</dt>
			<dd><select name="owner">
				{% for user in users %}
					<option value="{{ user.key }}">{{ user.first_name }} {{ user.last_name }}</option>
				{% endfor %}
				</select></dd>
		</dl>
		<p><input type="submit" value="Create a New Backlog"></p>
	</form>
	<p><a href="/user">Account</a> | <a href="{{ url }}">Logout</a></p>
{% endblock %}
