{% extends "base.html" %}

{% block title %}Sprint - Projects: {{ project.title }}{% endblock %}

{% block script %}
$(document).ready(function(){
	$('#start_date').datepicker();
	$('#end_date').datepicker();
});

{% endblock %}

{% block content %}
	<h1>{{ project.title }}</h1>
	{% for sprint in project.sprints %}
	<h2>{{ sprint.title }}</h2>
	<p>Start Date: {{ sprint.start_date }}<br>
	End Date: {{ sprint.end_date }}</p>
	<ul>
	{% for item in sprint.items %}
		<li>{{ item.title }} : {{ item.owner.first_name }} {{ item.owner.last_name }} : {{ item.content }} : {{ item.estimate }} hours</li>
	{% endfor %}
	</ul>

			<form action="/item/new" method="post" accept-charset="utf-8">
				<p>Title<br>
				<input type="text" name="title" value="" size="80" maxlength=80></p>
				<p>Description<br>
				<textarea name="content" rows="2" cols="70"></textarea></p>
				<p>Owner<br>
				<select name="owner">
				{% for user in users %}
					<option value="{{ user.key }}">{{ user.first_name }} {{ user.last_name }}</option>
				{% endfor %}
				</select></p>
				<p>Estimate<br>
				<input type="text" name="estimate" value="" size="2" maxlength=2> hours</p>
				<input type="hidden" name="sprint_id" value="{{ sprint.key }}">
				<input type="hidden" name="path" value="/project?id={{ project.key }}">
				<p class="submit"><input type="submit" value="Add a New Item"></p>
			</form>
		{% endfor %}
{% endblock %}

{% block nav %}
	<form name="script_form" action="/sprint/new" method="post" accept-charset="utf-8">
		<p>Title<br>
		<input type="text" name="title" value=""></p>
		<p>Start Date<br>
		<input type="text" id="start_date" name="start_date" value="" SIZE=25></p>
		<p>End Date<br>
		<input type="text" id="end_date" name="end_date" value="" SIZE=25></p>
		<input type="hidden" name="project_id" value="{{ project.key }}">
		<input type="hidden" name="path" value="/project?id={{ project.key }}">
		<p class="submit"><input type="submit" value="Create a New Sprint"></p>
	</form>
{% endblock %}
