{% extends "base.html" %}

{% block title %}
	Sprint - Users : 
	{% if app_user.first_name %} 
		{{ app_user.first_name }} {{ app_user.last_name }} 
	{% else %} 
		{{ app_user.email }} 
	{% endif %}
{% endblock %}

{% block content %}
	{% if alert %}
		<div class="alert"><p>{{ alert }}</p></div>
	{% endif %}
	<p>Edit {% if app_user.first_name %} {{ app_user.first_name }} {{ app_user.last_name }} {% else %} {{ app_user.email }} {% endif %}
	<form action="/user/update?id={{ app_user.key }}" method="post" accept-charset="utf-8">
		<p>First Name<br>
		<input type="text" name="first_name" value="{{ app_user.first_name }}"></p>
		<p>Last Name<br>
		<input type="text" name="last_name" value="{{ app_user.last_name }}"></p>
		<p>Email<br>
		{{ app_user.email }}</p>
		<p class="submit"><input type="submit" value="Update"></p>
	</form>
{% endblock %}
