h1, h2 {
	font-family: Times, "Times New Roman", Georgia, serif;
}

a.action {
	color: #f00;
}

a.nav_list:link {
	text-decoration: none;
	color: gray;
}

a.nav_list:visited {
	text-decoration: none;
	color: gray;
}

a.nav_list:hover {
	text-decoration: none;
	color: #fff;
	background: gray;
}

a.nav_list:active {
	text-decoration: none;
	color: gray;
}

a.editable:link {
	text-decoration: none;
	color: #000;
}

a.editable:visited {
	text-decoration: none;
	color: #000;
}

a.editable:hover {
	text-decoration: none;
	color: #fff;
	background: gray;
}

a.editable:active {
	text-decoration: none;
	color: #000;
}

span.sprint_assignment {
	display: inline-block;
}

span.sprint_assignment form {
	display: inline-block;
}

input[type=text] {
	width: auto;
}

textarea {
	height: auto;
}

h1#logo {
	color: #ccc;
	display: inline;
}

div#top_nav {
	text-align: right;
}

table.items td {
	border-bottom: 1px dotted #e6e6e6;
	vertical-align: top;
}

table.items td.noborder {
	vertical-align: top;
	border-style: none;
}

table.items td.bullet {
	width: 1em;
	text-align: center;
}

table.items td.estimate {
	width: 6em;
	text-align: right;
}

table.items td.date {
	width: 3.0em;
}

table.items td.action {
	width: 2.5em;
	text-align: right;
}

input.invalid {
	background: #FBE3E4;
}
label.invalid {
	margin-left: 1em;
	color: #8a1f11;
	border-color: #FBC2C4;
}