a.action {
	color: #f00;
}

span.sprint_assignment {
	display: inline-block;
}

span.sprint_assignment form {
	display: inline-block;
}

input[type=text] {
	width: auto;
}

textarea {
	height: auto;
}