{% extends "base.html" %}

{% block title %}Sprint - Backlogs : {{ backlog.title }}{% endblock %}

{% block script %}
$(document).ready(function(){
	$(".assign > form").hide();
	$(".assign > span").click(function(){
		$(this).siblings().show().css("display","inline-block");
		$(this).hide();
	});
	$(".assign > span").hover(function(){
		$(this).css("color","#00f");
	},
	function(){
		$(this).css({color:"#000"});
	});

	$('#add_item_form').hide();
	$('#add').click(function(){
		$('#add_item_form').show();
		$(this).hide();
	});
	$('#cancel').click(function(){
		$('#add_item_form').hide();
		$('#add').show();
	});
});

{% endblock %}

{% block content %}
<h1>{{ backlog.title }}</h1>
<p>Backlog Owner: {{ backlog.owner.first_name }} {{ backlog.owner.last_name }}</p>
	{% for item in items %}
	<p><!-- <strong>{{ item.owner.first_name }} {{ item.owner.last_name }}</strong> : --> 
	{{ item.title }} : 
		<span class="assign">
			<span>{% if item.sprint %} {{ item.sprint.project.title }} - {{ item.sprint.title }} {% else %} Not Assigned to a Sprint {% endif %}</span>
			<form action="/item/update?id={{ item.key }}" method="post">
				<select name="sprint_id">
					{% for sprint in sprints %}
					<option value="{{ sprint.key }}">{{ sprint.project.title }} : {{ sprint.title }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="Update">
			</form>
		</span> :
		(<strong>{{ item.estimate }} hours</strong>)
		<a href="/item?id={{ item.key }}">edit</a></p>
	{% endfor %}
<a href="#" class="action" id="add">Add a new backlog item</a>

<form action="/item/new" method="post" id="add_item_form">
	<fieldset>
	<label for="title">Enter a backlog item</label><br>
		<textarea name="title" rows="2" cols="40"></textarea><br>
	<label for="owner">Owner</label><br>
		<select name="owner">
			{% for user in users %}
			<option value="{{ user.key }}">{{ user.first_name }} {{ user.last_name }}</option>
			{% endfor %}
		</select><br>
	<label for="estimate">Estimate</label><br>
		<input type="text" class="text" name="estimate" value="" size=3 maxlength=3> hours<br>
	<hr class="space">
	<hr>
	<input type="hidden" name="backlog_id" value="{{ backlog.key }}">
	<input type="hidden" name="next" value="/backlog?id={{ backlog.key }}">
	<input type="submit" value="Add this item"> or <a href="#" class="action" id="cancel">I'm done adding items</a>
	</fieldset>
</form>
{% endblock %}