<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print">    
<!--[if IE]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="/static/main.css" type="text/css" media="screen">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">
{% block script %}{% endblock %}
</script>

</head>
<body>
	<div class="container">
		<div class="span-24" id="hd">
			{% block header %}
			<p><a href="/">Dashboard</a> | <a href="/user">Profile</a> | <a href="{{ logout_url }}">Logout</a></p>
			{% endblock %}
			<hr>
		</div>
		{% block content %}{% endblock %}
		<div class="span-24" id="ft">
			<hr class="space">
			<hr>
			{% block footer %}
			Created by Todd Webb.
			{% endblock %}
		</div>
	</div>
</body>
</html>
