{% extends "base.html" %}

{% block title %}Sprint - Help{% endblock %}

{% block script %}
$(document).ready(function(){  
  $('#team_selector').change(function(){
    $('#set_current_team').trigger('submit');
  });
});
{% endblock %}

{% block content %}
<h1>About Sprint</h1>
<hr>
<p>Sprint is a minimalist Scrum management application.</p>
<p><strong>WARNING</strong>: This application is still under development. Use at your own risk.</p>
<h2>Dashboard</h2>
<p>The dashboard displays all the sprint tasks that have been assigned to you. A description of each task is displayed along with the last estimate and the date of the last estimate. You can create new projects or new product backlogs from the Dashboard.</p>
<h2>Project Page</h2>
<p>The Project Page displays project details including sprints and sprint backlog tasks. You can create a new sprint and add tasks on this page. Over time as you update estimates a small sparkline will appear next to the sprint title. Click on the sprint sparkline to display a burndown chart for the sprint.</p>
<h2>Backlog Page</h2>
<p>The Backlog Page displays product backlog details. You can create new product backlog items and assign them to sprints. Click on the sprint assignment for an item to assign it to a sprint.</p>
<h2>My Account Page</h2>
<p>You can change your name and your project name on this page. You can also add new collaborators to your project here.</p>
<p><a href="/welcome" class="action">See the Welcome page again</a></p>
{% endblock %}
