{% extends "base.html" %}

{% block title %}Item - {{ item.title }}{% endblock %}

{% block content %}
<h1>Edit Item</h1>
<form action="/item/update?id={{ item.key }}" method="post" accept-charset="utf-8">
	<p>
		<label for="title">Item title</label><br>
		<input type="text" class="text" name="title" value="{{ item.title }}" size="70">
	</p>
	<p>
		<label for="owner">Item owner</label><br>
		<select name="owner">
			<option value="none">--------</option>
			{% for user_choice in users %}
			<option {% ifequal user_choice.key item.owner.key %}selected="selected"{% endifequal %} value="{{ user_choice.key }}">
				{{ user_choice.first_name }} {{ user_choice.last_name }}
			</option>
			{% endfor %}
		</select>
	</p>
	<p>
		<label for="estimate">Estimate</label><br>
		<input type="text" class="text" name="estimate" value="{{ item.estimate }}" size=3 maxlength=3> hours
	</p>
	{% if next %}
	<input type="hidden" name="next" value="{{ next }}">
	{% endif %}
	<p class="submit">
		<input type="submit" value="Save Changes">
	</p>
</form>
{% endblock %}