{% extends "base.html" %}

{% block title %}Item - {{ item.title }}{% endblock %}

{% block script %}
$(document).ready(function(){	
	$('#team_selector').change(function(){
		$('#set_current_team').trigger('submit');
	});
});
{% endblock %}

{% block content %}
<h1>Edit Item</h1>
<form action="/item/update?id={{ item.key }}" method="post" accept-charset="utf-8">
	<fieldset>
	<label for="title">Edit the item description</label><br>
		<textarea name="title" style="width:600px">{{ item.title|escape }}</textarea><br>
		<label for="owner">Item owner</label><br>
		<select name="owner">
			<option value="none">--------</option>
			{% for user_choice in users %}
			<option {% ifequal user_choice.key item.owner.key %}selected="selected"{% endifequal %} value="{{ user_choice.key }}">
				{{ user_choice.first_name }} {{ user_choice.last_name }}
			</option>
			{% endfor %}
		</select><br>
		<label for="estimate">Estimate</label><br>
		<input type="text" class="text" name="estimate" value="{{ item.estimate }}" size=3 maxlength=3> hours (Last updated: {{ item.last_estimate_date|date:"M j, Y" }} by {{ item.last_estimate_by.first_name}} {{ item.last_estimate_by.last_name}})<br>
	<hr class="space">
	<hr>
	{% if next %}
	<input type="hidden" name="next" value="{{ next }}">
	{% endif %}
	<input type="submit" value="Save Changes">
	</fieldset>
</form>
{% endblock %}