{% extends "base.html" %}

{% block title %}Sprint - Dashboard{% endblock %}

{% block script %}
$(document).ready(function(){
	$('#team_selector').change(function(){
		$('#set_current_team').trigger('submit');
	});
	$('#add_project_form').hide();
	$('#add_backlog_form').hide();
	$('#new_project').click(function(){
		$('#add_project_form').slideDown(500);
		$(this).slideUp(500);
	});
	$('#cancel_add_project').click(function(){
		$('#add_project_form').slideUp(500);
		$('#new_project').slideDown(500);
	});
	$('#new_backlog').click(function(){
		$('#add_backlog_form').slideDown(500);
		$(this).slideUp(500);
	});
	$('#cancel_add_backlog').click(function(){
		$('#add_backlog_form').slideUp(500);
		$('#new_backlog').slideDown(500);
	});
});
{% endblock %}

{% block content %}
<div class="span-18" id="main">
	<h1>Open Items for {{ user.first_name }} {{ user.last_name }}</h1>
	<hr>
	<form action="/project/new" method="post" id="add_project_form">
		<legend><span class="large">Add a new project</span></legend>
		<fieldset>
		<label for="title">Enter a project title</label><br> 
		<input type="text" class="text" name="title" size=40 maxsize=40><br>
		<hr class="space">
		<hr>
		<input type="submit" value="Create a New Project"> or <a href="#" class="action" id="cancel_add_project">Cancel</a>
		</fieldset>
	</form>
	<form action="/backlog/new" method="post" id="add_backlog_form">
		<legend><span class="large">Add a new backlog</span></legend>
		<fieldset>
		<label for="title">Enter a backlog title</label><br>
		<input type="text"  class="text" name="title" size=40 maxsize=40><br>
		<label>Select the backlog owner</label><br>
		<select name="owner">
			{% for user in users %}
				<option value="{{ user.key }}">{{ user.first_name }} {{ user.last_name }}</option>
			{% endfor %}
		</select><br>
		<hr class="space">
		<hr>
		<input type="submit" value="Create a New Backlog"> or <a href="#" class="action" id="cancel_add_backlog">Cancel</a>
		</fieldset>
	</form>
	<div id="user_list">
	{% if not user_projects %} 
		<p>You have not been assigned any items.</p>
	{% else %}
		{% for project in user_projects %}
		<h2>{{ project.title }}</h2>
			{% for sprint in project.sprints %}
				<p><h3 style="display:inline">{{ sprint.title }}</h3>
					<span class="quiet">  {{ sprint.start_date|date:"F j, Y"}} to {{ sprint.end_date|date:"F j, Y"}}</span></p>
				<table class="items last">
				<tbody>
				{% for item in sprint.items %}
					<tr><td class="bullet">•</td>
						<td class="title">{{ item.title }}</td>
						<td class="estimate"><strong>{{ item.estimate }} hours</strong></td>
						<td class="date">{{ item.last_estimate_date|date:"M j"}}</td>
						<td class="action"><a href="/item?id={{ item.key }}&next=/" class="action">edit</a></td>
					</tr>
				{% endfor %}
				</tbody>
				</table>
			{% endfor %}
		{% endfor %}
	{% endif %}
	</div>
</div>
<div class="span-6 last" id="nav">
	<h1>&nbsp;</h1>
	<hr>
	<h2 class="bottom">Projects</h2>
	{% for project in projects %}
		<div><a href="/project?id={{ project.key }}" class="large nav_list">{{ project.title }}</a></div>
	{% endfor %}
	<a href="#" class="action" id="new_project">Add a new project</a>
	<hr class="space">
	<h2 class="bottom">Backlogs</h2>
	{% for backlog in backlogs %}
		<div><a href="/backlog?id={{ backlog.key }}"  class="large nav_list">{{ backlog.title }}</a> 
			: {{ backlog.owner.first_name }} {{ backlog.owner.last_name }}</div>
	{% endfor %}
	<a href="#" class="action" id="new_backlog">Add a new backlog</a>
</div>
{% endblock %}
