{% extends "base.html" %}

{% block title %}Sprint - Dashboard{% endblock %}

{% block script %}
$(document).ready(function(){
	$('#add_project_form').hide();
	$('#add_backlog_form').hide();
	$('#new_project').click(function(){
		$('#add_project_form').show();
		$(this).hide();
	});
	$('#cancel_add_project').click(function(){
		$('#add_project_form').hide();
		$('#new_project').show();
	});
	$('#new_backlog').click(function(){
		$('#add_backlog_form').show();
		$(this).hide();
	});
	$('#cancel_add_backlog').click(function(){
		$('#add_backlog_form').hide();
		$('#new_backlog').show();
	});
});
{% endblock %}

{% block content %}
	<h1>Open Sprint Items for {{ user.first_name }} {{ user.last_name }}</h1>
	{% if not user_projects %} 
		<p>You have not been assigned any items.</p>
	{% else %}
		{% for project in user_projects %}
		<h1>{{ project.title }}</h1>
			{% for sprint in project.sprints %}
				<h2>{{ sprint.title }}</h2>
				{% for item in sprint.items %}
					<div>{{ item.title }} (<strong>{{ item.estimate }} hours</strong>) <a href='/item?id={{ item.key }}&next=/'>edit</a></div>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	{% endif %}
{% endblock %}

{% block nav %}
	<h1>Projects</h1>
	{% for project in projects %}
		<p><a href="/project?id={{ project.key }}">{{ project.title }}</a></p>
	{% endfor %}
	<a href="#" id="new_project">new project</a>
	<form action="/project/new" method="post" id="add_project_form">
		<p>Title<br /> 
		<input type="text" name="title">
		</p>
		<p class="submit"><input type="submit" value="Create a New Project"> or <a href="#" class="action" id="cancel_add_project">Cancel</a></p>
	</form>
	<h1 id="backlogs">Backlogs</h1>
	{% for backlog in backlogs %}
		<p><a href="/backlog?id={{ backlog.key }}">{{ backlog.title }}</a> : {{ backlog.owner.first_name }} {{ backlog.owner.last_name }}</p>
	{% endfor %}
	<a href="#" id="new_backlog">new backlog</a>
	<form action="/backlog/new" method="post" id="add_backlog_form">
		<p>Title<br />
		<input type="text" name="title"></p>
		
		<p>Owner<br />
		<select name="owner">
			{% for user in users %}
				<option value="{{ user.key }}">{{ user.first_name }} {{ user.last_name }}</option>
			{% endfor %}
		</select></p>
		<p class="submit"><input type="submit" value="Create a New Backlog"> or <a href="#" class="action" id="cancel_add_backlog">Cancel</a></p>
	</form>
{% endblock %}
