{% extends "base.html" %}

{% block title %}Sprint - Projects: {{ project.title }}{% endblock %}

{% block script %}
$(document).ready(function(){	
	$('form.add_item_form').hide();
	$('.add').click(function(){
		$(this).siblings('form.add_item_form').show();
		$(this).hide();
	});
	$('.cancel').click(function(){
		$(this).parents('form').hide();
		$(this).parents('form').siblings('.add').show();
	});
});
{% endblock %}

{% block content %}
<h1>{{ project.title }}</h1>
<div>
	<a href="#" class="add action">Add a new sprint</a>
	<div id="calendars"></div>
	<form class="add_item_form" id="sprint_form" action="/sprint/new" method="post">
		<fieldset>
		<p><label for="title">Enter a sprint title</label><br>
		<input type="text" class="title" name="title" value="" size=40 maxsize=40></p>
		<p><label>Start Date</label><br>
		<input type="text" class="text" id="start_date" name="start_date" value=""></p>
		<p><label>End Date</label><br>
		<input type="text" class="text" id="end_date" name="end_date" value=""></p>
		<input type="hidden" name="project_id" value="{{ project.key }}">
		<input type="hidden" name="next" value="/project?id={{ project.key }}">
		<input type="submit" value="Add this sprint"> or <a href="#" class="cancel action">Cancel</a>
		</fieldset>
	</form>
</div>
<hr class="space">
{% for sprint in project.sprints %}
<h2>{{ sprint.title }}</h2>
<p>{{ sprint.start_date }} - {{ sprint.end_date }}</p>
<h3>Sprint Backlog</h3>
<ul>
{% for item in sprint.items %}
	<li><strong>{{ item.owner.first_name }} {{ item.owner.last_name }}</strong> : {{ item.title }} (<strong>{{ item.estimate }} hours</strong>)
		<a href="/item?id={{ item.key }}">edit</a></li>
{% endfor %}
</ul>
<div>
<a href="#" class="add action">Add a new item</a>
<form action="/item/new" method="post" accept-charset="utf-8" class="add_item_form">
	<fieldset>
	<p>	<label>Enter a sprint backlog item</label><br>
			<textarea name="title" rows="2" cols="40"></textarea></p>
	<p><label>Owner</label><br>
	<select name="owner">
	{% for user in users %}
		<option value="{{ user.key }}">{{ user.first_name }} {{ user.last_name }}</option>
	{% endfor %}
	</select></p>
	<p><label>Estimate</label><br>
	<input type="text"  class="text" name="estimate" value="" size="3" maxlength=3> hours</p>
	<input type="hidden" name="sprint_id" value="{{ sprint.key }}">
	<input type="hidden" name="next" value="/project?id={{ project.key }}">
	<input type="submit" value="Add this item"> or <a href="#" class="cancel action">I'm done adding items</a>
	</fieldset>
</form>
</div>
<hr class="space">
<h3>Product Backlog</h3>
<ul>
{% for item in sprint.backlog_items %}
	<li><strong>{{ item.owner.first_name }} {{ item.owner.last_name }}</strong> : {{ item.title }} (<strong>{{ item.estimate }} hours</strong>)
		<a href="/item?id={{ item.key }}">edit</a></li>
{% endfor %}
</ul>
{% endfor %}
{% endblock %}

