{% extends "base.html" %}

{% block title %}Sprint - Projects: {{ project.title }}{% endblock %}

{% block script %}
$(document).ready(function(){	
	$('form.add_item_form').hide();
	$('.add').click(function(){
		$(this).siblings('form.add_item_form').slideDown(500);
		$(this).slideUp(500);
	});
	$('.cancel').click(function(){
		$(this).parents('form').slideUp(500);
		$(this).parents('form').siblings('.add').slideDown(500);
	});
});
{% endblock %}

{% block content %}
<h1>{{ project.title }}</h1>
<hr>
<div>
	<a href="#" class="add action">Add a new sprint</a>
	<div id="calendars"></div>
	<form class="add_item_form" id="sprint_form" action="/sprint/new" method="post">
		<fieldset>
		<label for="title">Enter a sprint title</label><br>
		<input type="text" class="title" name="title" value="" size=10 maxsize=10><span class="quiet small"> (ex: "Sprint 1")</span><br>
		<label for="start_date">Start Date</label><br>
		<input type="text" class="text" id="start_date" name="start_date" value="" size=10 maxsize=10><span class="quiet small"> (MM/DD/YYYY)</span><br>
		<label for="end_date">End Date</label><br>
		<input type="text" class="text" id="end_date" name="end_date" value="" size=10 maxsize=10><span class="quiet small"> (MM/DD/YYYY)</span><br>
		<hr class="space">
		<hr>
		<input type="hidden" name="project_id" value="{{ project.key }}">
		<input type="hidden" name="next" value="/project?id={{ project.key }}">
		<input type="submit" value="Add this sprint"> or <a href="#" class="cancel action">Cancel</a>
		</fieldset>
	</form>
</div>
<hr class="space">
{% for sprint in project.sprints %}
<p><h3 style="display:inline">{{ sprint.title }}</h3>
	<span class="quiet">  {{ sprint.start_date|date:"F j, Y"}} to {{ sprint.end_date|date:"F j, Y"}}</span></p>
<table class="items last">
<tbody>
{% for item in sprint.items %}
	<tr><td class="bullet">•</td>
		<td class="title"><strong>{{ item.owner.first_name }} {{ item.owner.last_name }}</strong>: {{ item.title }}</td>
		<td class="estimate"><strong>{{ item.estimate }} hours</strong></td>
		<td class="date">{{ item.last_estimate_date|date:"M j"}}</td>
		<td class="action"><a href="/item?id={{ item.key }}" class="action">edit</a></td>
	</tr>
{% endfor %}
	<tr><td class="bullet noborder">&nbsp;</td>
		<td class="title noborder" style="text-align:right">Current Sprint Estimate:</td>
		<td class="estimate noborder"><strong>{{ sprint.snap.estimate }} hours</strong></td>
		<td class="date noborder">{{ sprint.snap.date|date:"M j"}}</td>
		<td class="action noborder">&nbsp;</td>
	</tr>
</tbody>
</table>
<div>
<a href="#" class="add action">Add a new item</a>
<form action="/item/new" method="post" accept-charset="utf-8" class="add_item_form">
	<fieldset>
	<label for="title">Enter a sprint backlog item</label><br>
			<textarea name="title" style="width:600px"></textarea><br>
	<label for="owner">Owner</label><br>
	<select name="owner">
	{% for user in users %}
		<option value="{{ user.key }}">{{ user.first_name }} {{ user.last_name }}</option>
	{% endfor %}
	</select><br>
	<label for="estimate">Estimate</label><br>
	<input type="text"  class="text" name="estimate" value="" size="3" maxlength=3> hours<br>
	<hr class="space">
	<hr>
	<input type="hidden" name="sprint_id" value="{{ sprint.key }}">
	<input type="hidden" name="next" value="/project?id={{ project.key }}">
	<input type="submit" value="Add this item"> or <a href="#" class="cancel action">I'm done adding items</a>
	</fieldset>
</form>
</div>
<hr class="space">
<h4 class="quiet" style="display:inline">{{ sprint.title }} Product Backlog</h4>
<table class="items last">
<tbody>
{% if not sprint.backlog_items %}
<p>There are no backlog items assigned to this sprint. You can assign backlog items to this sprint on a backlog page.</p>
{% else %}
	{% for item in sprint.backlog_items %}
		<tr><td class="bullet">•</td>
			<td class="title"><strong>{{ item.owner.first_name }} {{ item.owner.last_name }}</strong>: {{ item.title }}</td>
			<td class="estimate"><strong>{{ item.estimate }} hours</strong></td>
			<td class="date">{{ item.last_estimate_date|date:"M j"}}</td>
			<td class="action">&nbsp;</td>
		</tr>
	{% endfor %}
{% endif %}
</tbody>
</table>
{% endfor %}
{% endblock %}

