{% extends "base.html" %}

{% block title %}
	Sprint - Users : 
	{% if user.first_name %} 
		{{ user.first_name }} {{ user.last_name }} 
	{% else %} 
		{{ user.email }} 
	{% endif %}
{% endblock %}

{% block content %}
	{% if alert %}
		<div class="success">{{ alert }}</div>
	{% endif %}
	<h2>Edit {% if user.first_name %} {{ user.first_name }} {{ user.last_name }} {% else %} {{ user.email }} {% endif %}</h2>
	<form action="/user/update?id={{ user.key }}" method="post" accept-charset="utf-8">
		<p><label>First Name</label><br>
		<input type="text" class="text" name="first_name" value="{{ user.first_name }}"></p>
		<p><label>Last Name</label><br>
		<input type="text" class="text" name="last_name" value="{{ user.last_name }}"></p>
		<p><label>Email</label><br>
		{{ user.user.email }}</p>
		<p class="submit"><input type="submit" value="Update"></p>
	</form>
{% endblock %}